---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);

const pageTitle = "A propos";
const pageDesc = "Une présentation s'impose";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <p>Je m'appelle Jeoffrey, j'ai 30 ans et je suis Consultant en données.</p>
      <p>Avec 8 années d'expérience en ESN, j'ai pu travailler dans des domaines variés tels que les assurances, le bancaire, la logistique, l'industrie ou encore la vente en ligne</p>
      <p>Durant ces années j'ai également pu acquérir, développer et perfectionner mes compétences dans le domaine du développement. Talend principalement mais aussi SQL, Java.</p>
      <p>Sur la partie Talend, je possède les</p>
    </div>

  </Main>
  <Footer />
</Layout> 