---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);

const pageTitle = "A propos";
const pageDesc = "Une présentation s'impose";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <p>Je suis Technical Lead, Entrepreneur, Investisseur et Trader.</p>
      <p>Actuellement Consultant Data au sein de Data-Major.</p>
      <p>Auparavant Technical Lead Talend chez Hardis-Group.</p>
      <p>Basé à Séoul, Corée du Sud.</p>
    </div>

  </Main>
  <Footer />
</Layout> 