---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import ContactForm from "@/components/ContactForm.tsx";


const pageTitle = "";
const pageDesc = "> Feel free to contact me for any inquiries.";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <h2>Contact form</h2>
    </div>

    <ContactForm 
      recaptchaSiteKey={import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY} 
      client:only="react" 
    />
  </Main>
  <Footer />
</Layout>