---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";

const pageTitle = "";
const pageDesc =
  ">This section showcases the projects I've done or worked on through the years";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <h2>Portfolio Contents</h2>
      <ul>
        <li>
          <a href="#data-consulting" class="text-primary hover:underline"
            >Data Consulting - My job in few words</a>
        </li>
        <li>
          <a href="#startup-entrepreneurship" class="text-primary hover:underline"
            >Startup & Entrepreneurship - Why and what is the purpose</a>
        </li>
        <li>
          <a href="#datahub" class="text-primary hover:underline"
            >Datahub - A modern Data Integration Architecture for complex
            systems</a>
        </li>
        <li>
          <a href="#p2p" class="text-primary hover:underline"
            >P2P - A legacy Data Integration Architecture for simple systems</a>
        </li>
        <li>
          <a href="#api-scenario" class="text-primary hover:underline"
            >JIRA Automation - A REST API scenarios in database</a>
        </li>
      </ul>
    </div>
    <div class="mt-12 flex flex-col gap-16">
      
      <section class="flex flex-col items-center gap-8" id="data-consulting">
        <div class="w-full max-w-4xl">
          <h2 class="mb-4 text-2xl font-bold">Data Consulting</h2>
          <p class="text-lg text-foreground/90 mb-4">
            Being Data Consultant is, as expected, a generic term.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The reason to that, can be explained by the different missions I can do. Depending on the client, the needs can be different, and the skillset needs to be "general" and less "specialist".
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            Some examples:
          </p>
          
          <ul class="text-lg text-foreground/90 list-disc list-inside ml-4 mb-4">
            <li>Audit of a current project</li>
            <li>Architecture of a new system</li>
            <li>Migration of a legacy system to a new one</li>
            <li>Training of a team</li>
            <li>Design a new data platform</li>
            <li>Support of a team</li>
            <li>Maintenance of a current system in production</li>
            <li>Documentation</li>
            <li>Proof-of-concept</li>
            <li>Adding monitoring and observability</li>
            <li>Optimising a database, a data pipeline</li>
            <li>Doing code reviews and being in charge of the git</li>
            <li>Create best practices and standards</li>
            <li>Being the lead for people to adopt best-practices</li>
            <li>Driving the team in a technical way</li>
            <li>And many more...</li>
          </ul>
          
          <p class="text-lg text-foreground/90 mb-4">
            However, for the past 6 years now, my title is Technical Lead where I'm responsible for the technical choices of the team. 
          </p>

          <p class="text-lg text-foreground/90 mb-4">
              The perfect balance between the technical part (coding, architecture, design, supporting the team) and the business side 
              (direct contact with the client, understanding the business needs and bring technical solutions, understanding the data from business applications, the context, the long term vision of the company and their strategy, the short term deadlines to fix bugs and issues, etc.).
            </p>
        </div>
      </section>

      <section class="flex flex-col items-center gap-8" id="startup-entrepreneurship">
        <div class="w-full max-w-4xl">
          <h2 class="mb-4 text-2xl font-bold">Startup & Entrepreneurship</h2>
          <p class="text-lg text-foreground/90 mb-4">
            I've been following the startup scene for many years, in Europe, USA and Asia.
            Seen how, recently, startup using AI and data can achieve great success is truly motivating.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The amount of innovation, speed, success is impressive.
            Based on those results, the possibility to create using AI Agents, and a strong interest of creating my own software, I've decided to start my own adventure, as a Data Platform focused on Observability.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            Among all the ideas around the web, Data is the <b><i>evergreen</i></b> topic on the IT field.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            Any business selling online, any companies having applications (CRM, ERP, PIM, HRM, PMS, e-commerce platform etc.) are concerned by data.
            The field is vast, here's some examples:
          </p>
          
          <ul class="text-lg text-foreground/90 list-disc list-inside ml-4 mb-4">
            <li>Supporting AI by providing quality and integration</li>
            <li>Supporting the development of the business by analyzing data downtime</li>
            <li>Enhance data quality</li>
            <li>Enable data synchronization</li>
            <li>Enhancing the supply chain by analyzing which part is weaker or needs to be improved</li>
            <li>And many more...</li>
          </ul>
          
          <p class="text-lg text-foreground/90 mb-4">
            The field is so vast, from supporting AI by providing quality and integration, to supporting the development of the business by analyzing data downtime, data quality, data consistency, or enhancing 
            the supply chain by analyzing which part is weaker or needs to be improved.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The possibilities are <b><i>infinite</i></b>.
          </p>
          
          <p class="text-lg text-foreground/90">
            At the end, all that matters is making sure companies are using their data to stay ahead of their competitors, satisfy their customers, and have insights on their business, based on logical and tangible results.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            It's not just about the freedom and the excitement of doing things, but also to be part of the innovation and bringing new ideas for businesses.
          </p>
        </div>
      </section>

      <section class="flex flex-col items-center gap-8" id="datahub">
        <div class="w-full max-w-4xl">
          <h2 class="mb-4 text-2xl font-bold">Datahub Architecture</h2>
          <p class="text-lg text-foreground/90 mb-4">
            This diagram shows my vision of a "datahub". Any person working in
            Data field, using dataflows, will have is own definition of what a
            datahub is.
          </p>

          <p class="text-lg text-foreground/90 mb-4">
            Mine is describing the "core" functionalities : one place where all
            the data goes from source to target, processed, enriched,
            synchronized, stored and shown along the way.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The applications are connected to the datahub. The hub is the
            messenger from the source to the target applications.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The benefit of this architecture is reducting the number of
            applications to maintain, enhancing the security, data quality and
            data consistency.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The drawback of that, is the complexity of the architecture. Each
            integration of a new application needs to follow the exact process
            and architecture.
          </p>
        </div>
        <div class="w-full max-w-4xl">
          <img
            src="/assets/images/datahub_excalidraw.png"
            alt="Datahub architecture"
            class="w-full rounded-lg border border-border shadow-lg"
            loading="lazy"
          />
        </div>
      </section>

      <section class="flex flex-col items-center gap-8" id="p2p">
        <div class="w-full max-w-4xl">
          <h2 class="mb-4 text-2xl font-bold">P2P Architecture</h2>
          <p class="text-lg text-foreground/90 mb-4">
            Here is what we can find as "data integration" system in the market.
            This example shows the business logic with ERP and CRM
          </p>
          <p class="text-lg text-foreground/90 mb-4">
            ERP is the source or the target. CRM is the source or the target.
          </p>
          

          <div class="w-full max-w-4xl">
            <img
              src="/assets/images/before_datahub_excalidraw.png"
              alt="P2P architecture"
              class="w-full rounded-lg border border-border shadow-lg"
              loading="lazy"
            />
          </div>

          <p class="text-lg text-foreground/90 mb-4">
            This P2P (peer-2-peer) architecture is not scalable and not
            flexible. It is not considered as "architecture" either because of
            the simplicity of the flow.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The benefit of this architecture is that it is easy to implement,
            easy to understand and faster to go in production. It is useful for
            small system, with few applications and few dataflows.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            The drawback of that, is the maintenance, the scalability, the data
            consistence is poor and business rules from applications can be
            duplicated.
          </p>
        </div>
      </section>

      <section class="flex flex-col items-center gap-8" id="api-scenario">
        <div class="w-full max-w-4xl">
          <h2 class="mb-4 text-2xl font-bold">REST API Scenarios in database</h2>
          <p class="text-lg text-foreground/90 mb-4">
            This diagram shows a REST API scenario stored in a database to
            automate the process of creating JIRA issues.
          </p>
          <div class="w-full max-w-4xl">
            <img
              src="/assets/images/jira-json-scenario.png"
              alt="JIRA JSON Scenario"
              class="w-full rounded-lg border border-border shadow-lg"
              loading="lazy"
            />
          </div>
          <p class="text-lg text-foreground/90 mb-4">
            A project I worked on required several steps to automate the
            creation of JIRA issues. Each JIRA status had to follow a specific
            workflow, with mandatory fields at each transition.
          </p>
          <p class="text-lg text-foreground/90 mb-4">
            The solution was to define scenarios in a table, each representing a
            specific transition in the workflow.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            Scenario 1: Transition from <u>Open</u> to <u>In Progress</u>.
          </p>
          <p class="text-lg text-foreground/90 mb-4">
            Scenario 2: Transition from <u>In Progress</u> to <u>Done</u>.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4 ">
            When a user submits a new case and clicks "Validate" in the
            interface, the system checks the database to determine the current
            and next statuses.
          </p>
          <p class="text-lg text-foreground/90 mb-4">
            With these two pieces of information, the API retrieves the JSON
            associated with the relevant scenario and updates the JIRA issue
            accordingly.
          </p>
          
          <p class="text-lg text-foreground/90 mb-4">
            By designing the solution this way, if a workflow contains five
            steps, each step is handled individually by triggering the
            corresponding JSON. There are no chained scenarios; the workflow is
            defined by JIRA and maintained in the database.
          </p>
        </div>
      </section>

    </div>
  </Main>
  <Footer />
</Layout>
