---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import { SITE } from "@/config";

const pageTitle = "Vault";
const pageDesc = "Tools I'm using or I recommend.";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <p>For the IT :</p>
      <p>Apidog (Europe hosting) : API testing and documentation.</p>
      <p>Obsidian : Personal Knowledge Management (PKM)</p>
      <p>Cursor : create prototype and transform ideas into concrete solutions.</p>
      <p>VSCode : all temporary files, codes, testing</p>
      <p>Notepad++ : old but gold</p>
      <p>FileZilla : FTP client for transferring files</p>
      <p>WinSCP : Transfer files from Windows to servers (Linux)</p>
      <p>mRemoteNG : Access all servers with command lines</p>
      <p>MobaXTerm : Access all servers with command lines</p>
      <p>Linear : one platform for all projects</p>
      <p>For trading :</p>
      <p>Insillico Terminal : most professional tool</p>
      <p>TradingView</p>
    </div>
  </Main>
  <Footer />
</Layout> 