---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import { SITE } from "@/config";

const pageTitle = "Vault";
const pageDesc = "Tools I'm using or I recommend.";
---

<Layout>
  <Header />
  <Main pageTitle={pageTitle} pageDesc={pageDesc}>
    <div class="prose prose-lg prose-slate dark:prose-invert">
      <p>Content coming soon...</p>
      <p>Apidog Europe hosted: API testing + documentation</p>
      <p>acreom : Personal Knowledge Management (PKM)</p>
      <p>Cursor : create prototype and transform my ideas into concret</p>
      <p>VSCode : all temporary files, codes, testing</p>
      <p>Notepad++ : only used to open the shared files with team or client (dropbox, google drive, fileshare, netexplorer)</p>
      <p>FileZilla</p>
      <p>Winscp : Transfer files from Windows to servers (Linux)</p>
      <p>mRemoteNG : Access all servers with command lines</p>
      <p>MobaXTerm : Access all servers with command lines</p>
    </div>
  </Main>
  <Footer />
</Layout> 